body {
    background-color: rgba(199, 135, 252, 0.3);
}

* {
    margin: 0px;
    padding: 0px;
}

.logIn a {
    text-decoration: none;
    cursor: auto;
}

.logIn .main {
    padding-bottom: 150px;
    padding-top: 70px;
    width: 100%;
    height: 500px;
}

.logIn header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cfeb35;
}

.logIn .logo {
    margin-left: 55px;
    font-weight: bold;
    font-family: Gloria Hallelujah;
    color: rgb(93, 15, 238);
    font-size: 40px;
    vertical-align: center;
}

.logIn .navigation a {
    text-decoration: none;
    font-size: 28px;
    color: #060a46;
    margin-right: 100px;
    cursor: pointer;
}

.logIn .navigation a:hover {
    text-decoration: underline;
}

.logIn .intro {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Merienda;
    color: rgb(43, 15, 104);
    margin-bottom: 50px;
} 

.logIn .inputUsername {
    position: relative;
    display: flex;
    margin-top: 30px;
    padding-left: 10px;
    left: 35%;
    width: 30%;
    height: 30px;
    border-radius: 10px;
}

.logIn .inputPassword {
    position: relative;
    display: flex;
    margin-top: 30px;
    padding-left: 10px;
    left: 35%;
    width: 30%;
    height: 30px;
    border-radius: 10px;
}

.logIn .flatButton {
    position: relative;
    display: flex;
    margin-top: 30px;
    left: 45%;
    width: 10%;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: rgb(5, 5, 218);
    border-radius: 10px;
    cursor: pointer;
}

.logIn .flatButton:hover {
    background-color: rgb(8, 8, 146);
}

.logIn .flatButton_content {
    color: aliceblue;
    font-size: 18px;
}

.logIn footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cfeb35;
}